
@import url('https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');

.container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;
}

.playListContainer{
				display: none;
				flex-direction: column;
}

.btn{
				width: 150px;
				height: 40px;
				font-size: 20px;
				border: 2px solid #0f111d;
				margin-bottom: 2px;
}

.trackItems  {
	background-color:brown;
	color:yellow;
	display:flex;
	flex-direction:coloum;
	align-items:center;
	justify-content:left;
	border-bottom:1px solid black;
	padding:2px;
   font-family: 'Pyidaungsu', sans-serif;
}

.trackImage {
	width:50px;
	height:45px;
	border:1px solid blue ;
	border-radius:20px 20px 20px 20px;
	padding:2px;
}

.player {
	display:flex;
	justify-content:center;
	padding:5px;
	background-color:darkBlue;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-bottom:0px;
}
.control {
	margin:10px 20px;
	color:white;
	font-size:30px;
}

.pause {
 	display:none;
}

.currentAndTotalTime{
	margin:0px 5px;
	background-color:darkBlue;
	width:160px;
	color:white;
	text-align:center;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	padding:3px;
}

#progressBar {
	margin:1px;
	width:300px;
	height:4px;
	background-color:black;
}

#currentBar {
	width:0;
	height:100%;
	background-color:gray;
}

.icon {
	width:120px;
	height:110px;
	margin-bottom:5px;
	margin-top:0px;
	border:2px solid brown;
	border-radius:20px;
}

.wholePlayer {
	display:flex;
	border:2px solid green;
	box-shadow:2px 2px 5px 3px black;
	flex-direction:column;
	align-items:center;
	padding:3px;
	margin:1px;
}

.playing {
 	margin:1px;
 	background-color:darkBlue;
 	width:280px;
 	color:white;
 	text-align:center;
 	border-top-left-radius:15px;
 	border-top-right-radius:15px;
 	padding:5px;
 
 }
 
 .speaker {
 	width:50px;
 	height:50px;
 	border-radius:25px 25px 25px 25px ;
 }
 
 .wofer {
 	width:120px;
 	height:120px;
 }
 
 .iconWofer {
 	display:flex;
 	justify-content:center;
 	padding:0;
 	margin:0;
 }
